@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    orphans: 4;
  }

  :root {
    --tw-bg-opacity: 1;
    --background: rgb(7 10 15 / var(--tw-bg-opacity));
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --valid: hsl(140 80% 40%);
    --invalid: hsl(10 80% 40%);
    --input: hsl(0 0% 0%);
  }

  .dark {
    --background: rgb(7 10 15 / var(--tw-bg-opacity));
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

.green-gradient {
  background-image: linear-gradient(
    153deg,
    oklch(81% 0.4 133) 0%,
    oklch(74% 0.2 173) 90%
  );
}

.blog-post-link:hover .blog-post-button,
.blog-post-link:focus .blog-post-button,
.blog-post-link:active .blog-post-button {
  border-color: currentColor;
  color: linear-gradient(
    to right bottom,
    oklch(72.38% 0.165 60.74),
    oklch(97.73% 0.13173438813453797 108.6082179405142)
  );
}

.blog-post-button-text {
  transition: color 0.2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.hero-fade-up-enter-active {
  animation-duration: 0.5s;
  animation-name: hero-fade-up-enter-active;
  animation-fill-mode: backwards;
}

@keyframes hero-fade-up-enter-active {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes clip-reveal {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.clip-reveal {
  animation-duration: 0.5s;
  animation-name: clip-reveal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@property --r2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

#b {
  background: conic-gradient(
    from calc(var(--r2) - 80deg) at var(--x) 50px,
    #222 0%,
    #fff 20%,
    #222 25%
  );
  animation: -0.64s rotating2 3s linear infinite, -0.64s x 3s linear infinite;
}
@keyframes x {
  /* w:h === 6:1 */
  /* with a 80px x-margin */
  0% {
    --x: 80px;
  }
  /* 6/(6+3.14) * 50% */
  32.82275711% {
    --x: 520px;
  }
  50% {
    --x: 520px;
  }
  /* 50% + 32.8% */
  82.82275711% {
    --x: 80px;
  }
  100% {
    --x: 80px;
  }
}

@keyframes rotating2 {
  0% {
    --r2: 0deg;
  }
  32.82275711% {
    --r2: 0deg;
  }
  50% {
    --r2: 180deg;
  }
  82.82275711% {
    --r2: 180deg;
  }
  100% {
    --r2: 360deg;
  }
}

.fade-out-towards-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
