.glass {
  inset: 0;
  /*   Extend the backdrop to the bottom for it to "collect the light" outside of the nav */
  --extended-by: 100px;
  bottom: calc(-1 * var(--extended-by));

  --filter: blur(30px);
  backdrop-filter: var(--filter);

  /*   Cut the part of the backdrop that falls outside of <nav /> */
  --cutoff: calc(100% - var(--extended-by));
  mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--cutoff),
    transparent var(--cutoff)
  );
}


.glassEdge {
  z-index: -1;
  --extended-by: 100px;
  --offset: 20px;
  --thickness: 2px;
  height: calc(var(--extended-by) + var(--offset));
  /*   Offset is used to snuck the border backdrop slightly under the main backdrop for  smoother effect */
  top: calc(100% - var(--offset) + var(--thickness));

  /*   Make the blur bigger so that the light bleed effect spreads wider than blur on the first backdrop */
  /*   Increase saturation and brightness to fake smooth chamfered edge reflections */
  --filter: blur(90px) saturate(160%) brightness(1.3);
  backdrop-filter: var(--filter);

  mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--offset),
    transparent var(--offset)
  );
}
